*{
    margin: 0;
    padding: 0;
    border: none;
}
.container{
    display: flex;
    width: 100vw;
    height: 30px;
    background-color: grey;
    position: sticky;
    top: 0;
}
.container p{
    margin: auto;
    color: white;
    width: 100%;
}

.burger{
    height: 30px;
    margin-left: 10px;
}
.text{
    margin: auto;
}
